In [ ]:
# how to use pandas to create a table

In [ ]:
import pandas as pd

In [ ]:
# how many cups of coffees you drink
# every week in this month
weeks = [1, 2, 3, 4]
cups = [10, 7, 12, 9]

In [ ]:
coffee_tb = pd.DataFrame({'week': weeks, 'num_cups': cups})

In [ ]:
print(coffee_tb)

   week  num_cups
0     1        10
1     2         7
2     3        12
3     4         9

In [ ]:
coffee_tb

   week  num_cups
0     1        10
1     2         7
2     3        12
3     4         9